.p-field {
  margin-top: 1em;
  margin-left: 1em;
}

#username {
  width: 30%;
  margin-top: 1em;
  margin-left: 1em;
}

#dtNascimento {
  width: 10%;
  margin-top: 1em;
  margin-left: 1em;
  //display: inline-block;
  }

  #nsus {
  width: 15%;
  margin-top: 1em;
  margin-left: 1em;
    //display: inline-block;
  }

#cpf {
  width: 8%;
  margin-top: 1em;
  margin-left: 1em;
}

#sexo {
  width: 4%;
  margin-top: 1em;
  margin-left: 1em;
}

#escolaridade {
  width: 6%;
  margin-top: 1em;
  margin-left: 1em;
}

#estadocivil {
  width: 6%;
   margin-top: 1em;
   margin-left: 1em;
}

#telefone {
  width: 6%;
  margin-top: 1em;
  margin-left: 1em;
}

#namemae {
  width: 30%;
  margin-top: 1em;
  margin-left: 1em;
}

#endereco {
  width: 30%;
  margin-top: 1em;
  margin-left: 1em;
}

#cep {
  width: 8%;
  margin-top: 1em;
  margin-left: 1em;
}

#cidade {
  width: 6%;
  margin-top: 1em;
  margin-left: 1em;
}

#uf {
  width: 8%;
  margin-top: 1em;
  margin-left: 1em;
}

#dtCadastro {
  width: 10%;
  margin-top: 1em;
  margin-left: 1em;
  //display: inline-block;
  }

#Enviar {
  width: 10%;
  margin-top: 1em;
  margin-left: 1em;
  }
