.p-field {
  margin-top: 1em;
  margin-left: 1em;
  display: inline-block;
}

#username {
  width: 60%;
  margin-top: 1em;
  margin-left: 1em;
}

#dtNascimento {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;

  }

  #nsus {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;


  }

#cpf {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;
}

#sexo {
  width: 15%;
  margin-top: 1em;
  margin-left: 1em;
}

#escolaridade {
  width: 40%;
  margin-top: 1em;
  margin-left: 1em;
}

#estadocivil {
  width: 40%;
   margin-top: 1em;
   margin-left: 1em;
}

#telefone {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;
}

#namemae {
  width: 65%;
  margin-top: 1em;
  margin-left: 1em;
}

#endereco {
  width: 60%;
  margin-top: 1em;
  margin-left: 1em;
}

#cep {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;
}

#cidade {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;
}

#uf {
  width: 20%;
  margin-top: 1em;
  margin-left: 1em;
}

#dtCadastro {
  width: 50%;
  margin-top: 1em;
  margin-left: 1em;
  //display: inline-block;
  }

#Enviar {
  width: 20%;
  margin-top: 1em;
  margin-left: 70em;
  }
